:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.my-text {
  fill: yellow;
  font-size: 8rem;
}

.horizontal-rect {
  width: 80px;
  height: 16px;
  fill: chartreuse;
  font-size: 3rem;
}

.center-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-div {
  align-items: center;
  background-color: orange;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-top: 200px;
  width: 200px;
}

.key-mapping-read-only {
  width: 5rem;
  height: 1.6rem;
}

.key-mapping-read-only:disabled {
  background-color: #000;
  color: #fff;
  font-size: large;
  padding: 0.6rem;
}

@keyframes throb {
  from {
      top: 40px;
      right: 40px;
      bottom: 40px;
      left: 40px;

  }

  to {
      top: 70px;
      right: 70px;
      bottom: 70px;
      left: 70px;
  }
}

.key-mapping-row-editing {
  
  display: flex;
  position: relative;
  margin-top: 20px;
  height: 200px;
  background-color: #bbb;
  width: 500px;

  input {
    margin-left: 12px;
    margin-bottom: 20px;
    width: 15px;
  }
 

  .throbbing-child {
    animation: throb 1000ms linear alternate infinite;
    background-color: lime;
    left: 40px;
    right: 40px;
    position: absolute;
    top: 40px;
    width: auto;
    bottom: 40px;
  }

  .key-selection-prompt {
    bottom: 40%;
    left: 28%;
    right: 35%;
    position: absolute;
    top: 45%;
    width: 13rem;
  }

}

.h-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.key-mapping-row {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 300px;
}

;


.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}