.purina {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.cell {
  width: 50%;
  height: 100%;
  border: 1px solid aquamarine;
}


.absolute-cell {
  width: 50%;
  height: 100%;
  border: 1px solid aquamarine;
  background-color: bisque;
  position: relative;
}

.upAndDown {
  animation: up-and-down 1s ease-in-out alternate infinite;
  height: 20px;
  width: 300px;
  background-color: #1a3a1c;
  margin: auto;
}

@keyframes up-and-down {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 30px;
  }
}

.throbb {
  animation: throb 1000ms linear alternate infinite;
  background-color: #1a9a1c;
  position: absolute;
}

.throb-text {
left: 50%;
top: 50%;
height: 30px;
position: absolute;
margin-left: -50px;
margin-top: -10px;
}

@keyframes throb {
  from {
    top: 160px;
    right: 160px;
    bottom: 160px;
    left: 160px;
    
  }

  to {
    top: 170px;
    right: 170px;
    bottom: 170px;
    left: 170px;
  }
}